*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Segoe UI;

    background:url("background.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}


body::before{

content:"";

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.55);

}


.card{

position:relative;

z-index:10;

width:400px;

padding:40px;

text-align:center;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 0 35px #9c27ff;

}


.logo{

width:140px;

height:140px;

border-radius:50%;

border:4px solid #b84dff;

box-shadow:0 0 30px #d500ff;

object-fit:cover;

}


h1{

margin-top:20px;

color:white;

font-size:40px;

}


#message{

margin-top:20px;

font-size:20px;

color:white;

}
